body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(185, 39, 110);
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  background-color: #13787e;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin-right: 1rem;
}

nav a {
  text-decoration: none;
  color: black;
}


a {
  text-decoration: none;
  color: blue; 
}

a:hover {
  color: #ff0011; 
}

.main-content {
  flex: 1;
  padding: 1rem;
}

/* Additional styles for specific components */

.main-content h2 {
  margin-bottom: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 0.5rem;
  border: 1px solid #ddd;
}

.main-content table {
  margin-bottom: 1rem;
}

.main-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-content li {
  margin-bottom: 0.5rem;
}

.main-content form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.main-content form label {
  width: 100px;
  margin-right: 0.5rem;
}

.main-content form input,
.main-content form select {
  padding: 0.5rem;
  border: 1px solid #ccc;
}

/* Dashboard Styles */

.main-content ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: disc inside;
}

/* Orders Styles */

.main-content .actions {
  display: flex;
  justify-content: space-between;
}

.main-content .actions button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.main-content .actions button:first-child {
  background-color: #333;
  color: #fff;
}

.main-content .actions button:last-child {
  background-color: #ccc;
  border: 1px solid #ddd;
}

/* Products Styles */

.main-content form {
  justify-content: space-between;
}

